In [1]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
from fuzzywuzzy import fuzz

In [2]:
uri = 'mysql+pymysql://root:!yzaPSL33486@localhost/debthound'
engine = create_engine(uri)

with engine.connect() as conn, conn.begin():
    data = pd.read_sql_table('entity', conn)

In [3]:
cond1 = data['name'].str.split().map(len) == 3 
cond2 = data['name'].str.split().map(len) == 2 
data1 = data[cond1 | cond2]
#data[data['name'].str.contains('ALBERT')]

In [4]:
alias_match = pd.DataFrame(columns=['record name','alias_match','score'])
alias_match['record name'] = data1['name']

In [ ]:
%%time
max_rows = 10 
for lidx in alias_match.index:
    for ridx in alias_match.index:
        if ridx == lidx:
            continue
        if pd.isna(alias_match['alias_match'].loc[lidx]):
            score = fuzz.token_sort_ratio(alias_match['record name'].loc[lidx], alias_match['record name'].loc[ridx])
            if score > 85:
                alias_match['alias_match'].loc[lidx] = alias_match['record name'].loc[lidx]
                alias_match['alias_match'].loc[ridx] = alias_match['record name'].loc[lidx]
                alias_match['score'].loc[ridx] = score

In [ ]:
match_85_plus = alias_match[alias_match['score'] >= 85]
match_na = alias_match[pd.isna(alias_match['score'])]
merged = pd.merge(match_na, match_85_plus, left_on='record name', right_on='alias_match')

In [ ]:
merged.sort_values(by='alias_match_x', inplace=True)

In [ ]:
merged[merged['alias_match_x'].str.contains('MARY')]

In [ ]:
match_85_plus[match_85_plus['alias_match'].str.contains('MARY')]

In [ ]:
alias_match[alias_match['record name'] == "BROWN MARY"]

In [ ]:
match_85_plus.to_excel('85+.xlsx')

In [ ]:
fuzz.token_sort_ratio('BROWN MARY', 'BROWN MARY')